# Question 1

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
from time import sleep

In [175]:
 #Connecting to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [176]:
#Opening the website on automated website
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [179]:
a=driver.find_elements(By.XPATH,"//tbody")

In [196]:
data=[]
for i in a:
    b=i.find_elements(By.XPATH,"//td")
    for i1 in b:
        data.append(i1.text)

In [198]:
data=data[2:181]

In [199]:
data

['1.',
 '"Baby Shark Dance"[3]',
 "Pinkfong Baby Shark - Kids' Songs & Stories",
 '11.40',
 'June 17, 2016',
 '[A]',
 '2.',
 '"Despacito"[6]',
 'Luis Fonsi',
 '7.98',
 'January 12, 2017',
 '[B]',
 '3.',
 '"Johny Johny Yes Papa"[12]',
 'LooLoo Kids',
 '6.47',
 'October 8, 2016',
 '[C]',
 '4.',
 '"Shape of You"[13]',
 'Ed Sheeran',
 '5.81',
 'January 30, 2017',
 '[D]',
 '5.',
 '"See You Again"[15]',
 'Wiz Khalifa',
 '5.64',
 'April 6, 2015',
 '[E]',
 '6.',
 '"Bath Song"[20]',
 'Cocomelon – Nursery Rhymes',
 '5.63',
 'May 2, 2018',
 '[F]',
 '7.',
 '"Phonics Song with Two Words"[21]',
 'ChuChu TV',
 '4.90',
 'March 6, 2014',
 '[G]',
 '8.',
 '"Uptown Funk"[22]',
 'Mark Ronson',
 '4.70',
 'November 19, 2014',
 '[H]',
 '9.',
 '"Learning Colors – Colorful Eggs on a Farm"[23]',
 'Miroshka TV',
 '4.65',
 'February 27, 2018',
 '[I]',
 '10.',
 '"Gangnam Style"[24]',
 'Psy',
 '4.55',
 'July 15, 2012',
 '[J]',
 '11.',
 '"Masha and the Bear – Recipe for Disaster"[29]',
 'Get Movies',
 '4.51',
 'January 31, 2012',
 '[K]',
 '12.',
 '"Wheels on the Bus"[30]',
 'Cocomelon – Nursery Rhymes',
 '4.40',
 'May 24, 2018',
 '',
 '13.',
 '"Dame Tu Cosita"[31]',
 'El Chombo',
 '4.07',
 'April 5, 2018',
 '',
 '14.',
 '"Sugar"[32]',
 'Maroon 5',
 '3.76',
 'January 14, 2015',
 '',
 '15.',
 '"Roar"[33]',
 'Katy Perry',
 '3.66',
 'September 5, 2013',
 '',
 '16.',
 '"Counting Stars"[34]',
 'OneRepublic',
 '3.65',
 'May 31, 2013',
 '',
 '17.',
 '"Sorry"[35]',
 'Justin Bieber',
 '3.59',
 'October 22, 2015',
 '',
 '18.',
 '"Axel F"[36]',
 'Crazy Frog',
 '3.52',
 'June 16, 2009',
 '',
 '18.',
 '"Thinking Out Loud"[37]',
 'Ed Sheeran',
 '3.50',
 'October 7, 2014',
 '',
 '20.',
 '"Baa Baa Black Sheep"[38]',
 'Cocomelon – Nursery Rhymes',
 '3.38',
 'June 25, 2018',
 '',
 '21.',
 '"Dark Horse"[39]',
 'Katy Perry',
 '3.35',
 'February 20, 2014',
 '',
 '22.',
 '"Faded"[40]',
 'Alan Walker',
 '3.34',
 'December 3, 2015',
 '',
 '23.',
 '"Girls Like You"[41]',
 'Maroon 5',
 '3.33',
 'May 31, 2018',
 '',
 '24.',
 '"Let Her Go"[42]',
 'Passenger',
 '3.30',
 'July 25, 2012',
 '',
 '25.',
 '"Bailando"[43]',
 'Enrique Iglesias',
 '3.27',
 'April 11, 2014',
 '',
 '26.',
 '"Lean On"[44]',
 'Major Lazer',
 '3.26',
 'March 22, 2015',
 '',
 '27.',
 '"Perfect"[45]',
 'Ed Sheeran',
 '3.26',
 'November 9, 2017',
 '',
 '28.',
 '"Waka Waka (This Time for Africa)"[46]',
 'Shakira',
 '3.25',
 'June 4, 2010',
 '',
 '29.',
 '"Shake It Off"[47]',
 'Taylor Swift',
 '3.21',
 'August 18, 2014',
 '',
 '30.',
 '"Humpty the train on a fruits ride"[48]',
 'Kiddiestv Hindi – Nursery Rhymes & Kids Songs',
 '3.17',
 'January 26, 2018']

In [200]:
rank=[]
name=[]
artist=[]
date=[]
views=[]
rank=data[::6]
name=data[1::6]
artist=data[2::6]
views=data[3::6]
date=data[4::6]

In [212]:
#Creating Dataframe
data=pd.DataFrame({"Rank":rank,"Name":name,"Artist":artist,"Views":views,"Date":date})
data

,Rank,Name,Artist,Views,Date
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,11.40,"June 17, 2016"
1,2.,"""Despacito""[6]",Luis Fonsi,7.98,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,6.47,"October 8, 2016"
3,4.,"""Shape of You""[13]",Ed Sheeran,5.81,"January 30, 2017"
4,5.,"""See You Again""[15]",Wiz Khalifa,5.64,"April 6, 2015"
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,5.63,"May 2, 2018"
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,4.90,"March 6, 2014"
7,8.,"""Uptown Funk""[22]",Mark Ronson,4.70,"November 19, 2014"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,4.65,"February 27, 2018"
9,10.,"""Gangnam Style""[24]",Psy,4.55,"July 15, 2012"
10,11.,"""Masha and the Bear – Recipe for Disaster""[29]",Get Movies,4.51,"January 31, 2012"
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,4.40,"May 24, 2018"
12,13.,"""Dame Tu Cosita""[31]",El Chombo,4.07,"April 5, 2018"
13,14.,"""Sugar""[32]",Maroon 5,3.76,"January 14, 2015"
14,15.,"""Roar""[33]",Katy Perry,3.66,"September 5, 2013"
15,16.,"""Counting Stars""[34]",OneRepublic,3.65,"May 31, 2013"
16,17.,"""Sorry""[35]",Justin Bieber,3.59,"October 22, 2015"
17,18.,"""Axel F""[36]",Crazy Frog,3.52,"June 16, 2009"
18,18.,"""Thinking Out Loud""[37]",Ed Sheeran,3.50,"October 7, 2014"
19,20.,"""Baa Baa Black Sheep""[38]",Cocomelon – Nursery Rhymes,3.38,"June 25, 2018"
20,21.,"""Dark Horse""[39]",Katy Perry,3.35,"February 20, 2014"
21,22.,"""Faded""[40]",Alan Walker,3.34,"December 3, 2015"
22,23.,"""Girls Like You""[41]",Maroon 5,3.33,"May 31, 2018"
23,24.,"""Let Her Go""[42]",Passenger,3.30,"July 25, 2012"
24,25.,"""Bailando""[43]",Enrique Iglesias,3.27,"April 11, 2014"
25,26.,"""Lean On""[44]",Major Lazer,3.26,"March 22, 2015"
26,27.,"""Perfect""[45]",Ed Sheeran,3.26,"November 9, 2017"
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,3.25,"June 4, 2010"
28,29.,"""Shake It Off""[47]",Taylor Swift,3.21,"August 18, 2014"
29,30.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.17,"January 26, 2018"

# Question 2

In [141]:
 #Connecting to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [142]:
#Opening the website on automated website
driver.get("https://www.bcci.tv/")

In [143]:
a=driver.find_element(By.XPATH,"/html/body/div[5]/div/div[2]/div/div[2]/div/div[1]/div[2]/a")
a.click()

In [144]:
#Selecting the more button
b=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div[2]/div/button")
b.click()

In [145]:
#Scraping Match Title
c=driver.find_elements(By.XPATH,"//span[@class='matchOrderText ng-binding ng-scope']")
z1=[]
for i in c:
    z1.append(i.text)

In [159]:
len(z1)

11

In [169]:
#Scraping Series
e=[]
d=driver.find_elements(By.XPATH,"//h5[@class='fix-text']")

In [170]:
for i in range(0,len(d)):
    e.append(d[i].text)
e

['',
 'ASIA CUP WOMENS 2022',
 '',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23',
 '',
 'ASIA CUP WOMENS 2022',
 '',
 'ASIA CUP WOMENS 2022',
 '',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23',
 '',
 'SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23',
 '',
 'ASIA CUP WOMENS 2022',
 '',
 'ASIA CUP WOMENS 2022',
 '',
 'SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23',
 '',
 'ASIA CUP WOMENS 2022',
 '',
 'SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23']

In [166]:
e1=e[1::2]

In [152]:
#Scraping Place
f=driver.find_elements(By.XPATH,"//span[@class='ng-binding ng-scope']")

In [153]:
g=[]
for i in f:
    g.append(i.text)

In [154]:
g

['Sylhet Outer Cricket Stadium,',
 'Barsapara Cricket Stadium,',
 'Sylhet Outer Cricket Stadium,',
 'Sylhet Outer Cricket Stadium,',
 'Holkar Cricket Stadium,',
 'Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium,',
 'Sylhet International Cricket Stadium,',
 'Sylhet International Cricket Stadium,',
 'JSCA International Stadium Complex,',
 'Sylhet International Cricket Stadium,',
 'Arun Jaitley Stadium,']

In [155]:
#Scraping Date
j=[]
h=driver.find_elements(By.XPATH,"//div[@class='match-card-left match-schedule']")
for i in h:
    j.append(i.text)

In [156]:
j

['1 OCT 2022',
 '2 OCT 2022',
 '3 OCT 2022',
 '4 OCT 2022',
 '4 OCT 2022',
 '6 OCT 2022',
 '7 OCT 2022',
 '8 OCT 2022',
 '9 OCT 2022',
 '10 OCT 2022',
 '11 OCT 2022']

In [157]:
#Scraping Time
k=[]
l=driver.find_elements(By.XPATH,"//div[@class='match-card-right match-schedule ']")
for i in l:
    k.append(i.text)

In [158]:
k

['1:00 PM IST',
 '7:00 PM IST',
 '1:00 PM IST',
 '1:00 PM IST',
 '7:00 PM IST',
 '1:30 PM IST',
 '1:00 PM IST',
 '1:00 PM IST',
 '1:30 PM IST',
 '1:00 PM IST',
 '1:30 PM IST']

In [165]:
len(k)

11

In [171]:
#Creating Dataframe
data=pd.DataFrame({"Match title":z1,"Series":e1,"Place":g,"Date":j,"Time":k})
data

,Match title,Series,Place,Date,Time
0,1st T20I -,ASIA CUP WOMENS 2022,"Sylhet Outer Cricket Stadium,",1 OCT 2022,1:00 PM IST
1,2nd T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23,"Barsapara Cricket Stadium,",2 OCT 2022,7:00 PM IST
2,2nd T20I -,ASIA CUP WOMENS 2022,"Sylhet Outer Cricket Stadium,",3 OCT 2022,1:00 PM IST
3,3rd T20I -,ASIA CUP WOMENS 2022,"Sylhet Outer Cricket Stadium,",4 OCT 2022,1:00 PM IST
4,3rd T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23,"Holkar Cricket Stadium,",4 OCT 2022,7:00 PM IST
5,1st ODI -,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,6 OCT 2022,1:30 PM IST
6,4th T20I -,ASIA CUP WOMENS 2022,"Sylhet International Cricket Stadium,",7 OCT 2022,1:00 PM IST
7,5th T20I -,ASIA CUP WOMENS 2022,"Sylhet International Cricket Stadium,",8 OCT 2022,1:00 PM IST
8,2nd ODI -,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,"JSCA International Stadium Complex,",9 OCT 2022,1:30 PM IST
9,6th T20I -,ASIA CUP WOMENS 2022,"Sylhet International Cricket Stadium,",10 OCT 2022,1:00 PM IST
10,3rd ODI -,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,"Arun Jaitley Stadium,",11 OCT 2022,1:30 PM IST

# Question 3

In [172]:
#Connecting to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [173]:
#Opening the website on automated website
driver.get("https://www.guru99.com/")

In [176]:
#Selecting Selenium Section
a=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a")
a.click()

In [177]:
#Selecting Exception Section
b=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a")
b.click()

In [194]:
#Scraping Name
c=driver.find_elements(By.XPATH,"//strong")
d=[]
for i in c:
    d.append(i.text)

In [214]:
d1=d[2:43]

In [216]:
len(d1)

41

In [204]:
#Scraping Description
e=driver.find_elements(By.XPATH,"//p")
f=[]
for i in e:
    f.append(i.text)

f1=f[2:44]

In [206]:
g=[]
for i in f1:
    g.append(i.split(":"))

In [224]:
h=[]
for i in range(0,41):
    h.append(g[i][1])

In [225]:
len(h)

41

In [226]:
h

[' This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 ' This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 ' This Exception occurs if an element could not be found.',
 ' This Exception occurs if the frame target to be switched to does not exist.',
 ' This Exception occurs when you switch to no presented alert.',
 ' This Exception occurs if the window target to be switch does not exist.',
 ' This Selenium exception occurs happens when the web element is detached from the current DOM.',
 ' The WebDriver is acting after you quit the browser.',
 ' Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn’t found in the specified time.',
 ' This Exception takes place when the WebDriver is acting right after you close the browser.',
 ' This type of Exception takes place when there is a disconnection in the driver.',
 ' The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
 ' This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
 ' This happens while interacting with the Firefox extension or the remote driver server.',
 ' Exception is used as a placeholder in case if the server returns an error without a stack trace.',
 ' This expectation will occur when IME engine activation has failed.',
 ' It takes place when IME support is unavailable.',
 ' Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
 ' It occurs when an argument does not belong to the expected type.',
 ' This happens when you try to add a cookie under a different domain instead of current URL.',
 ' This type of Exception matches an interacting operation that is not valid.',
 ' It occurs when command can’t be finished when the element is invalid.',
 ' This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
 ' This occurs when the frame or window target to be switched does not exist.',
 ' This issue occurs while executing JavaScript given by the user.',
 ' It occurs when you afford to get the session when the session is not created.',
 ' This kind of Exception occurs when the attribute of an element could not be found.',
 ' It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
 ' ContextAware does mobile device testing.',
 ' This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
 ' This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
 ' This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
 ' It is not possible to capture a screen.',
 ' It happens when a new session could not be successfully created.',
 ' This occurs if a driver is unable to set a cookie.',
 ' Happens if a support class did not get a web element as expected.',
 ' This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
 ' It occurs when there is the appearance of an unexpected alert.',
 ' This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
 ' This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
 ' This occurs when remote WebDriver doesn’t send valid commands as expected.']

In [227]:
#Creating Dataframe
data=pd.DataFrame({"Name":d1,"Description":h})
data

,Name,Description
0,1. ElementNotVisibleException:,This type of Selenium exception occurs when a...
1,2. ElementNotSelectableException:,This Selenium exception occurs when an elemen...
2,3. NoSuchElementException:,This Exception occurs if an element could not...
3,4. NoSuchFrameException:,This Exception occurs if the frame target to ...
4,5. NoAlertPresentException:,This Exception occurs when you switch to no p...
5,6. NoSuchWindowException:,This Exception occurs if the window target to...
6,7. StaleElementReferenceException:,This Selenium exception occurs happens when t...
7,8. SessionNotFoundException:,The WebDriver is acting after you quit the br...
8,9. TimeoutException:,Thrown when there is not enough time for a co...
9,10. WebDriverException:,This Exception takes place when the WebDriver...
10,11. ConnectionClosedException:,This type of Exception takes place when there...
11,12. ElementClickInterceptedException:,The command may not be completed as the eleme...
12,13. ElementNotInteractableException:,This Selenium exception is thrown when any el...
13,14. ErrorInResponseException:,This happens while interacting with the Firef...
14,15. ErrorHandler.UnknownServerException:,Exception is used as a placeholder in case if...
15,16. ImeActivationFailedException:,This expectation will occur when IME engine a...
16,17. ImeNotAvailableException:,It takes place when IME support is unavailable.
17,18. InsecureCertificateException:,Navigation made the user agent to hit a certi...
18,19. InvalidArgumentException:,It occurs when an argument does not belong to...
19,20. InvalidCookieDomainException:,This happens when you try to add a cookie und...
20,21. InvalidCoordinatesException:,This type of Exception matches an interacting...
21,22. InvalidElementStateException:,It occurs when command can’t be finished when...
22,23. InvalidSessionIdException:,This Exception took place when the given sess...
23,24. InvalidSwitchToTargetException:,This occurs when the frame or window target t...
24,25. JavascriptException:,This issue occurs while executing JavaScript ...
25,26. JsonException:,It occurs when you afford to get the session ...
26,27. NoSuchAttributeException:,This kind of Exception occurs when the attrib...
27,28. MoveTargetOutOfBoundsException:,It takes place if the target provided to the ...
28,29. NoSuchContextException:,ContextAware does mobile device testing.
29,30. NoSuchCookieException:,This Exception occurs when no cookie matching...
30,31. NotFoundException:,This Exception is a subclass of WebDriverExce...
31,32. RemoteDriverServerException:,This Selenium exception is thrown when the se...
32,33. ScreenshotException:,It is not possible to capture a screen.
33,34. SessionNotCreatedException:,It happens when a new session could not be su...
34,35. UnableToSetCookieException:,This occurs if a driver is unable to set a co...
35,36. UnexpectedTagNameException:,Happens if a support class did not get a web ...
36,37. UnhandledAlertException:,This expectation occurs when there is an aler...
37,38. UnexpectedAlertPresentException:,It occurs when there is the appearance of an ...
38,39. UnknownMethodException:,This Exception happens when the requested com...
39,40. UnreachableBrowserException:,This Exception occurs only when the browser i...
40,41. UnsupportedCommandException:,This occurs when remote WebDriver doesn’t sen...

# Question 4

In [228]:
#Connecting to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [229]:
#Opening the website on automated website
driver.get("https://www.statisticstimes.com/")

In [242]:
#Selecting Economy Section
a=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")

In [243]:
x=a.get_attribute("href")

In [245]:
driver.get(x)

In [246]:
#Selecting GDP of Indian States
y=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")

In [247]:
driver.get(y.get_attribute("href"))

In [255]:
#Scraping State

state=[]

a=driver.find_elements(By.XPATH,'//td[@class="name"]')
for i in a:
    state.append(i.text)

In [259]:
s1=state[0:33]

In [263]:
#Scraping GSDP(19-20)
b1=[]

b=driver.find_elements(By.XPATH,"//td[@class='data']")
for i in b:
    b1.append(i.text)

In [265]:
gs1920=[]
gs1920=b1[::5]

In [271]:
#Scraping Share-18-19
share=b1[1::5]

In [273]:
#Scraping GDP Billion
gb=b1[2::5]

In [275]:
#Scraping GSDP-18-19
c=driver.find_elements(By.XPATH,"//td[@class='data sorting_1']")
gs1819=[]
for i in c:
    gs1819.append(i.text)

In [277]:
#Scraping Rank
d=driver.find_elements(By.XPATH,"//td[@class='data1']")
rank=[]
for i in d:
    rank.append(i.text)

In [289]:
#Creating Dataframe
data=pd.DataFrame({"Rank":rank[0:33],"State":s1,"GSDP-19-20":gs1920[0:33],"GSDP-18-19":gs1819[0:33],"Share-18-19":share[0:33],"GDP-Billion":gb[0:33]})
data

,Rank,State,GSDP-19-20,GSDP-18-19,Share-18-19,GDP-Billion
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# Question 5

In [2]:
#Connecting to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [3]:
#Opening the website on automated website
driver.get("https://github.com/")

In [4]:
#Extracting Trending URL 
a=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a")

In [5]:
driver.get(a.get_attribute("href"))

In [6]:
#Scraping Repository Title
a=driver.find_elements(By.XPATH,"//h1[@class='h3 lh-condensed']")
title=[]
for i in a:
    title.append(i.text)

In [11]:
#Scraping Repository Description
b=driver.find_elements(By.XPATH,"//p[@class='col-9 color-fg-muted my-1 pr-4']")
des=[]
for i in b:
    des.append(i.text)

In [12]:
#Scraping Contributors Count
c=driver.find_elements(By.XPATH,"//a[@class='Link--muted d-inline-block mr-3']")
c1=[]
for i in c:
    c1.append(i.text)

In [13]:
count=c1[::2]

In [40]:
#Creating Dataframe
data=pd.DataFrame({"Title":title,"Description":des,"Contributors Count":count})
data

,Title,Description,Contributors Count
0,freeCodeCamp / freeCodeCamp,freeCodeCamp.org's open-source codebase and cu...,"354,796"
1,TheAlgorithms / C-Plus-Plus,Collection of various algorithms in mathematic...,"21,471"
2,firstcontributions / first-contributions,🚀✨ Help beginners to contribute to open source...,"28,121"
3,TheAlgorithms / Python,All Algorithms implemented in Python,"146,109"
4,CodeEditApp / CodeEdit,CodeEdit App for macOS – Elevate your code edi...,"15,147"
5,TryGhost / Ghost,Turn your audience into a business. Publishing...,"41,339"
6,SigNoz / signoz,SigNoz is an open-source APM. It helps develop...,"9,351"
7,soxoj / maigret,🕵️‍♂️ Collect a dossier on a person by usernam...,"3,715"
8,FernandaCader / recursos-datos,Recopilación de recursos de ciencias de datos ...,101
9,ToolJet / ToolJet,Extensible low-code framework for building bus...,"13,761"
10,leeoniya / uFuzzy,"A tiny, efficient fuzzy search that doesn't suck","1,197"
11,iced-rs / iced,"A cross-platform GUI library for Rust, inspire...","15,643"
12,github / docs,The open-source repo for docs.github.com,"11,514"
13,bufbuild / protoc-gen-validate,protoc plugin to generate polyglot message val...,"2,633"
14,stephrobert / awesome-french-devops,Une liste de liens permettant de se former aux...,295
15,palera1n / palera1n,"iOS 15.0-15.3.1 tethered checkm8 ""jailbreak"" (...",259
16,novuhq / novu,⭐ A fully functional real-time notification ce...,"10,305"
17,odoo / odoo,Odoo. Open Source Apps To Grow Your Business.,"26,437"
18,lkwq007 / stablediffusion-infinity,Outpainting with Stable Diffusion on an infini...,"1,648"
19,nvm-sh / nvm,Node Version Manager - POSIX-compliant bash sc...,"61,296"
20,stefanprodan / podinfo,Go microservice template for Kubernetes,"3,096"
21,huggingface / transformers,🤗 Transformers: State-of-the-art Machine Learn...,"71,450"
22,kamranahmedse / developer-roadmap,"Interactive roadmaps, guides and other educati...","213,788"
23,awesome-selfhosted / awesome-selfhosted,A list of Free Software network services and w...,"104,919"
24,remoteintech / remote-jobs,A list of semi to fully remote-friendly compan...,"20,137"

# Question 6

In [387]:
#Connecting to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [388]:
#Opening the website on automated website
driver.get("https://www.billboard.com/")

In [389]:
#Selecting Charts section 
a=driver.find_element(By.XPATH,"/html/body/div[3]/div[7]/div/div/div/ul/li[1]/h3/a")
driver.get(a.get_attribute("href"))

In [391]:
#Extracting Billboard hot 100
b=driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a")
driver.get(b.get_attribute("href"))

In [448]:
#Scraping Song Name
name=[]
c=driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[1]")

In [452]:
c=c.text.split("\n")

In [435]:
#Scraping Song and Artist
d1=[]
d=driver.find_elements(By.XPATH,"//li[@class='o-chart-results-list__item // lrv-u-flex-grow-1 lrv-u-flex lrv-u-flex-direction-column lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light lrv-u-padding-l-050 lrv-u-padding-l-1@mobile-max']")
for i in d:
    d1.append(i.text)

In [437]:
e=[]
for i in d1:
    e.append(i.split("\n"))

In [441]:
s1=[]
a1=[]
for i in range(0,len(e)):
    s1.append(e[i][0])
    a1.append(e[i][1])

In [456]:
s1.insert(0,c[0])    #Complete list of Song Names

In [458]:
a1.insert(0,c[1])    #Complete list of Artist Names

In [479]:
#Scraping Last Week Rank, Peak Rank, Weeks on board
f1=[]
f=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
for i in f:
    f1.append(i.text)

In [480]:
last_week_rank=[]
peak_rank=[]
weeks_board=[]
last_week_rank=f1[::6]
peak_rank=f1[1::6]
weeks_board=f1[2::6]

In [481]:
g=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")

In [482]:
last_week_rank.insert(0,g[0].text)
peak_rank.insert(0,g[1].text)
weeks_board.insert(0,g[2].text)

In [488]:
#Creating Dataframe
data=pd.DataFrame({"Song":s1,"Artist":a1,"Last Week Rank":last_week_rank,"Peak Rank":peak_rank,"Weeks Board":weeks_board})
data

,Song,Artist,Last Week Rank,Peak Rank,Weeks Board
0,As It Was,Harry Styles,1,1,25
1,Bad Habit,Steve Lacy,2,2,12
2,I Like You (A Happier Song),Post Malone Featuring Doja Cat,5,3,16
3,Sunroof,Nicky Youre & dazy,4,4,17
4,Super Freaky Girl,Nicki Minaj,3,1,6
...,...,...,...,...,...
95,Thought You Should Know,Morgan Wallen,98,12,20
96,Where It Ends,Bailey Zimmerman,93,32,5
97,Backstage Passes,EST Gee Featuring Jack Harlow,-,98,1
98,Snap,Rosa Linn,97,93,4
99,Beat The Odds,Lil Tjay,91,36,4

# Question 7

In [82]:
from selenium.webdriver.common.keys import Keys

In [108]:
#Connecting to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [109]:
#Opening the website on automated website
driver.get("https://www.naukri.com/hr-recruiters-consultants")

In [110]:
#Entering Data Science option 
a=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input")
a.click()
a.send_keys("Data Science")

In [111]:
b=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button")
b.click()

In [116]:
#Scraping Name and Company
c=driver.find_elements(By.XPATH,"//a[@class='ellipsis']")
name=[]
company=[]
c1=[]
for i in c:
    c1.append(i.text)
    
name=c1[::2]
company=c1[1::2]

In [119]:
#Scraping Designation
d=driver.find_elements(By.XPATH,"//span[@class='ellipsis clr']")
des=[]
for i in d:
    des.append(i.text)

In [123]:
#Scraping Skills
f=driver.find_elements(By.XPATH,"//div[@class='hireSec highlightable']")
skill=[]
for i in f:
    skill.append(i.text)

In [142]:
g1=driver.find_elements(By.XPATH,"//a[@class='ellipsis']")
url=[]
for i in g1:
    url.append(i.get_attribute("href"))

In [ ]:
url1=url[::2]
url1

In [160]:
#Scraping Location
l1=[]
loc=[]
for i in url1:
    driver.get(i)
    g=driver.find_elements(By.XPATH,"//a[@class='fl ellipsis widLrg']")
    for i in g:
        l1.append(i.text)

In [164]:
loc=l1[1::2]

In [173]:
#Creating Dataframe
data=pd.DataFrame({"Name":name,"Company":company,"Designation":des,"Skills":skill,"Location":loc})
data

,Name,Company,Designation,Skills,Location
0,Aakash Harit,Data Science Network,HR Manager,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Shore Infotech India Pvt. Ltd,Company Recruiter,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,MARSIAN Technologies LLP,Company HR,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Enerlytics Software Solutions Pvt Ltd,Company Recruiter,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,LibraryXProject,Founder CEO,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Apidel Technologies Division of Transpower,Recruitment Lead Consultant,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,IFMR,Programme Manager,Data Science,Chennai
7,Balu Ramesh,Techvantage Systems Pvt Ltd,HR Administrator,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Weupskill- Live Wire India,Director,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,CBL Data Science Private Limited,Human Resource,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,Infinitive Software Solutions,HR Manager,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Innominds Software,Executive Hiring,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,MoneyTap,Company HR,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,QuantMagnum Technologies Pvt. Ltd.,Company HR,"Office Administration, Hr Administration, tele...",Mumbai
14,Vaishnavi Kudalkar,Codeachive learning,HR Executive,"Data Science, Python, Data Analytics",Mumbai
15,Kapil Devang,BISP Solutions,HR Manager,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Mahesh Babu Channa,SocialPrachar.com,HR Team Lead,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
17,Sakshi Chhikara,BIZ INFOTECNO PRIVATE LIMITED,Assistant Manager HR,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Bristlecone India Ltd,Senior Executive Talent Acquisition,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,Easi Tax,HR Executive,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Novelworx Digital Solutions,Manager Talent Acquisition,Data Science,Cochin
21,Rashmi Bhattacharjee,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,HR Head,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,FirstTech Consaltants Pvt.Ltd,HR MANAGER,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,Affine Analytics,HR Recruiter,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,Compumatrice Multimedia Pvt Ltd,HR Recruiter,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Exela Technologies,Manager Human Resources,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Azahar Shaikh,NEAL ANALYTICS SERVICES PVT LTD,Company Recruiter,"Data Science, Artificial Intelligence, Machine...",Pune
27,Manas,Autumn Leaf Consulting Services Private...,Lead Talent acquisition,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
28,kumar,trainin,Proprietor,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
29,Sunil Vedula,Nanoprecise Sci Corp,CEO,"Signal Processing, Machine Learning, Neural Ne...",Others
30,Rajat Kumar,R.S Consultancy &amp; Services,Founder CEO,"Web Technologies, Project Management, Software...",Delhi
31,Dhruv Dev Dubey,Confidential,Company Recruitment Head,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
32,Jayanth N,"Dollarbird Information Services Pvt, Ltd",Project Manager,"Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
33,Avodha,Nikitha Palaparthi,Business Development Associate,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
34,SREEDHAR,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,Recruitment Consultant,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
35,Priya Khare,Independent Consultant,Senior Manager,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
36,Amit Sharma,ASCO consulting,Consultant,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
37,Kanan,NY INST,senior technology instructor,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
38,Shashikant Chaudhary,3D India Staffing Research &amp; Consulting...,HR Recruiter/HR Excutive,"Relationship Management, Retail Sales, Private...",Aligarh
39,Brad,O.C. Tanner,"Manager, Technical Recruiting","Data Science, Software Engineering",Salt Lake City
40,Rutuja Pawar,Demand Matrix,Technical Recruiter,"Data Science, Big Data Analytics, Digital Mark...",Pune
41,Madhusudhan Sridhar,MADHUSUDHAN SRIDHAR,Erp Implementer,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
42,Ankit Sinha,Suntech Global,Head Analytics,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
43,Gaurav Chouhan,Strategic Consulting Lab,Chief Technical Officer,"Software Development, Business Intelligence, B...",Indore
44,Rashi Kacker,Impel Labs Pvt. Ltd.,Sr Product Manager,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
45,Ashwini,MRP Advisers,Director Global Delivery,"Data Science, Media Marketing, Resource Planni...",MYSORE
46,Balaji Kolli,Saras Solutions India Pvt Ltd,Co Founder,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
47,Rajani Nagaraj,WildJasmine,HR Manager,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
48,ROHIT Kumar,LNT Private Limited,Architect,"Software Development, Core Java, Unit Testing,...",Mumbai
49,Amir Chowdhury,Granular.ai,Managing Partner,"Machine Learning, Data Science, Product Manage...",

# Question 8

In [491]:
#Connecting to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [492]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [502]:
a=driver.find_elements(By.XPATH,"//td[@class='left']")
a1=[]
for i in a:
    a1.append(i.text)

In [503]:
a1

['1',
 'Da Vinci Code,The',
 'Brown, Dan',
 '5,094,805',
 'Transworld',
 '2',
 'Harry Potter and the Deathly Hallows',
 'Rowling, J.K.',
 '4,475,152',
 'Bloomsbury',
 '3',
 "Harry Potter and the Philosopher's Stone",
 'Rowling, J.K.',
 '4,200,654',
 'Bloomsbury',
 '4',
 'Harry Potter and the Order of the Phoenix',
 'Rowling, J.K.',
 '4,179,479',
 'Bloomsbury',
 '5',
 'Fifty Shades of Grey',
 'James, E. L.',
 '3,758,936',
 'Random House',
 '6',
 'Harry Potter and the Goblet of Fire',
 'Rowling, J.K.',
 '3,583,215',
 'Bloomsbury',
 '7',
 'Harry Potter and the Chamber of Secrets',
 'Rowling, J.K.',
 '3,484,047',
 'Bloomsbury',
 '8',
 'Harry Potter and the Prisoner of Azkaban',
 'Rowling, J.K.',
 '3,377,906',
 'Bloomsbury',
 '9',
 'Angels and Demons',
 'Brown, Dan',
 '3,193,946',
 'Transworld',
 '10',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Rowling, J.K.',
 '2,950,264',
 'Bloomsbury',
 '11',
 'Fifty Shades Darker',
 'James, E. L.',
 '2,479,784',
 'Random House',
 '12',
 'Twilight',
 'Meyer, Stephenie',
 '2,315,405',
 'Little, Brown Book',
 '13',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Larsson, Stieg',
 '2,233,570',
 'Quercus',
 '14',
 'Fifty Shades Freed',
 'James, E. L.',
 '2,193,928',
 'Random House',
 '15',
 'Lost Symbol,The',
 'Brown, Dan',
 '2,183,031',
 'Transworld',
 '16',
 'New Moon',
 'Meyer, Stephenie',
 '2,152,737',
 'Little, Brown Book',
 '17',
 'Deception Point',
 'Brown, Dan',
 '2,062,145',
 'Transworld',
 '18',
 'Eclipse',
 'Meyer, Stephenie',
 '2,052,876',
 'Little, Brown Book',
 '19',
 'Lovely Bones,The',
 'Sebold, Alice',
 '2,005,598',
 'Pan Macmillan',
 '20',
 'Curious Incident of the Dog in the Night-time,The',
 'Haddon, Mark',
 '1,979,552',
 'Random House',
 '21',
 'Digital Fortress',
 'Brown, Dan',
 '1,928,900',
 'Transworld',
 '22',
 'Short History of Nearly Everything,A',
 'Bryson, Bill',
 '1,852,919',
 'Transworld',
 '23',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Larsson, Stieg',
 '1,814,784',
 'Quercus',
 '24',
 'Breaking Dawn',
 'Meyer, Stephenie',
 '1,787,118',
 'Little, Brown Book',
 '25',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Carle, Eric',
 '1,783,535',
 'Penguin',
 '26',
 'Gruffalo,The',
 'Donaldson, Julia',
 '1,781,269',
 'Pan Macmillan',
 '27',
 "Jamie's 30-Minute Meals",
 'Oliver, Jamie',
 '1,743,266',
 'Penguin',
 '28',
 'Kite Runner,The',
 'Hosseini, Khaled',
 '1,629,119',
 'Bloomsbury',
 '29',
 'One Day',
 'Nicholls, David',
 '1,616,068',
 'Hodder & Stoughton',
 '30',
 'Thousand Splendid Suns,A',
 'Hosseini, Khaled',
 '1,583,992',
 'Bloomsbury',
 '31',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 'Larsson, Stieg',
 '1,555,135',
 'Quercus',
 '32',
 "Time Traveler's Wife,The",
 'Niffenegger, Audrey',
 '1,546,886',
 'Random House',
 '33',
 'Atonement',
 'McEwan, Ian',
 '1,539,428',
 'Random House',
 '34',
 "Bridget Jones's Diary:A Novel",
 'Fielding, Helen',
 '1,508,205',
 'Pan Macmillan',
 '35',
 'World According to Clarkson,The',
 'Clarkson, Jeremy',
 '1,489,403',
 'Penguin',
 '36',
 "Captain Corelli's Mandolin",
 'Bernieres, Louis de',
 '1,352,318',
 'Random House',
 '37',
 'Sound of Laughter,The',
 'Kay, Peter',
 '1,310,207',
 'Random House',
 '38',
 'Life of Pi',
 'Martel, Yann',
 '1,310,176',
 'Canongate',
 '39',
 'Billy Connolly',
 'Stephenson, Pamela',
 '1,231,957',
 'HarperCollins',
 '40',
 'Child Called It,A',
 'Pelzer, Dave',
 '1,217,712',
 'Orion',
 '41',
 "Gruffalo's Child,The",
 'Donaldson, Julia',
 '1,208,711',
 'Pan Macmillan',
 '42',
 "Angela's Ashes:A Memoir of a Childhood",
 'McCourt, Frank',
 '1,204,058',
 'HarperCollins',
 '43',
 'Birdsong',
 'Faulks, Sebastian',
 '1,184,967',
 'Random House',
 '44',
 'Northern Lights:His Dark Materials S.',
 'Pullman, Philip',
 '1,181,503',
 'Scholastic Ltd.',
 '45',
 'Labyrinth',
 'Mosse, Kate',
 '1,181,093',
 'Orion',
 '46',
 'Harry Potter and the Half-blood Prince',
 'Rowling, J.K.',
 '1,153,181',
 'Bloomsbury',
 '47',
 'Help,The',
 'Stockett, Kathryn',
 '1,132,336',
 'Penguin',
 '48',
 'Man and Boy',
 'Parsons, Tony',
 '1,130,802',
 'HarperCollins',
 '49',
 'Memoirs of a Geisha',
 'Golden, Arthur',
 '1,126,337',
 'Random House',
 '50',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'McCall Smith, Alexander',
 '1,115,549',
 'Little, Brown Book',
 '51',
 'Island,The',
 'Hislop, Victoria',
 '1,108,328',
 'Headline',
 '52',
 'PS, I Love You',
 'Ahern, Cecelia',
 '1,107,379',
 'HarperCollins',
 '53',
 'You are What You Eat:The Plan That Will Change Your Life',
 'McKeith, Gillian',
 '1,104,403',
 'Penguin',
 '54',
 'Shadow of the Wind,The',
 'Zafon, Carlos Ruiz',
 '1,092,349',
 'Orion',
 '55',
 'Tales of Beedle the Bard,The',
 'Rowling, J.K.',
 '1,090,847',
 'Bloomsbury',
 '56',
 'Broker,The',
 'Grisham, John',
 '1,087,262',
 'Random House',
 '57',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Atkins, Robert C.',
 '1,054,196',
 'Random House',
 '58',
 'Subtle Knife,The:His Dark Materials S.',
 'Pullman, Philip',
 '1,037,160',
 'Scholastic Ltd.',
 '59',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 'Truss, Lynne',
 '1,023,688',
 'Profile Books Group',
 '60',
 "Delia's How to Cook:(Bk.1)",
 'Smith, Delia',
 '1,015,956',
 'Random House',
 '61',
 'Chocolat',
 'Harris, Joanne',
 '1,009,873',
 'Transworld',
 '62',
 'Boy in the Striped Pyjamas,The',
 'Boyne, John',
 '1,004,414',
 'Random House Childrens Books G',
 '63',
 "My Sister's Keeper",
 'Picoult, Jodi',
 '1,003,780',
 'Hodder & Stoughton',
 '64',
 'Amber Spyglass,The:His Dark Materials S.',
 'Pullman, Philip',
 '1,002,314',
 'Scholastic Ltd.',
 '65',
 'To Kill a Mockingbird',
 'Lee, Harper',
 '998,213',
 'Random House',
 '66',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Gray, John',
 '992,846',
 'HarperCollins',
 '67',
 'Dear Fatty',
 'French, Dawn',
 '986,753',
 'Random House',
 '68',
 'Short History of Tractors in Ukrainian,A',
 'Lewycka, Marina',
 '986,115',
 'Penguin',
 '69',
 'Hannibal',
 'Harris, Thomas',
 '970,509',
 'Random House',
 '70',
 'Lord of the Rings,The',
 'Tolkien, J. R. R.',
 '967,466',
 'HarperCollins',
 '71',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Moore, Michael',
 '963,353',
 'Penguin',
 '72',
 'Interpretation of Murder,The',
 'Rubenfeld, Jed',
 '962,515',
 'Headline',
 '73',
 'Sharon Osbourne Extreme:My Autobiography',
 'Osbourne, Sharon',
 '959,496',
 'Little, Brown Book',
 '74',
 'Alchemist,The:A Fable About Following Your Dream',
 'Coelho, Paulo',
 '956,114',
 'HarperCollins',
 '75',
 "At My Mother's Knee ...:and Other Low Joints",
 "O'Grady, Paul",
 '945,640',
 'Transworld',
 '76',
 'Notes from a Small Island',
 'Bryson, Bill',
 '931,312',
 'Transworld',
 '77',
 'Return of the Naked Chef,The',
 'Oliver, Jamie',
 '925,425',
 'Penguin',
 '78',
 'Bridget Jones: The Edge of Reason',
 'Fielding, Helen',
 '924,695',
 'Pan Macmillan',
 '79',
 "Jamie's Italy",
 'Oliver, Jamie',
 '906,968',
 'Penguin',
 '80',
 'I Can Make You Thin',
 'McKenna, Paul',
 '905,086',
 'Transworld',
 '81',
 'Down Under',
 'Bryson, Bill',
 '890,847',
 'Transworld',
 '82',
 'Summons,The',
 'Grisham, John',
 '869,671',
 'Random House',
 '83',
 'Small Island',
 'Levy, Andrea',
 '869,659',
 'Headline',
 '84',
 'Nigella Express',
 'Lawson, Nigella',
 '862,602',
 'Random House',
 '85',
 'Brick Lane',
 'Ali, Monica',
 '856,540',
 'Transworld',
 '86',
 "Memory Keeper's Daughter,The",
 'Edwards, Kim',
 '845,858',
 'Penguin',
 '87',
 'Room on the Broom',
 'Donaldson, Julia',
 '842,535',
 'Pan Macmillan',
 '88',
 'About a Boy',
 'Hornby, Nick',
 '828,215',
 'Penguin',
 '89',
 'My Booky Wook',
 'Brand, Russell',
 '820,563',
 'Hodder & Stoughton',
 '90',
 'God Delusion,The',
 'Dawkins, Richard',
 '816,907',
 'Transworld',
 '91',
 '"Beano" Annual,The',
 '0',
 '816,585',
 'D.C. Thomson',
 '92',
 'White Teeth',
 'Smith, Zadie',
 '815,586',
 'Penguin',
 '93',
 'House at Riverton,The',
 'Morton, Kate',
 '814,370',
 'Pan Macmillan',
 '94',
 'Book Thief,The',
 'Zusak, Markus',
 '809,641',
 'Transworld',
 '95',
 'Nights of Rain and Stars',
 'Binchy, Maeve',
 '808,900',
 'Orion',
 '96',
 'Ghost,The',
 'Harris, Robert',
 '807,311',
 'Random House',
 '97',
 'Happy Days with the Naked Chef',
 'Oliver, Jamie',
 '794,201',
 'Penguin',
 '98',
 'Hunger Games,The:Hunger Games Trilogy',
 'Collins, Suzanne',
 '792,187',
 'Scholastic Ltd.',
 '99',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 'Pelzer, Dave',
 '791,507',
 'Orion',
 '100',
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours",
 'Oliver, Jamie',
 '791,095',
 'Penguin']

In [504]:
#Scraping Book Name
name=[]
name=a1[1::5]

In [507]:
#Scraping Author
author=[]
author=a1[2::5]

In [509]:
#Scraping Volumes
vol=[]
vol=a1[3::5]

In [511]:
#Scraping Publisher
pub=[]
pub=a1[4::5]

In [516]:
#Scraping Genre
gen=[]
g=driver.find_elements(By.XPATH,"//td[@class='last left']")
for i in g:
    gen.append(i.text)

In [518]:
#Creating Dataframe
data=pd.DataFrame({"Book Name":name,"Author":author,"Volumes Sold":vol,"Publisher":pub,"Genre":gen})
data

,Book Name,Author,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Question 9

In [544]:
#Connecting to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [545]:
driver.get("https://www.imdb.com/list/ls095964455/")

In [549]:
#Scraping title and year
a=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']")
b=[]
b1=[]
for i in a:
    b.append(i.text)
    
for i1 in b:
    b1.append(i1.split("("))

In [559]:
title=[]
year=[]
for i in range(0,len(b1)):
    title.append(b1[i][0])
    year.append(b1[i][1])

In [563]:
#Scraping Genre
gen=[]
c=driver.find_elements(By.XPATH,"//span[@class='genre']")
for i in c:
    gen.append(i.text)

In [566]:
#Scraping Runtime
run=[]
d=driver.find_elements(By.XPATH,"//span[@class='runtime']")
for i in d:
    run.append(i.text)

In [570]:
#Scraping Ratings
rate=[]
e=driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']")
for i in e:
    rate.append(i.text)

In [577]:
#Scraping votes
vote=[]
f=driver.find_elements("name","nv")
for i in f:
    vote.append(i.text)

In [579]:
#Creating Dataframe
data=pd.DataFrame({"Name":title,"Year Span":year,"Genre":gen,"Runtime":run,"Ratings":rate,"Votes":vote})
data

,Name,Year Span,Genre,Runtime,Ratings,Votes
0,1. Game of Thrones,2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,058,789"
1,2. Stranger Things,2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,152,994"
2,3. The Walking Dead,2010–2022),"Drama, Horror, Thriller",44 min,8.1,"971,309"
3,4. 13 Reasons Why,2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"289,644"
4,5. The 100,2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"249,117"
...,...,...,...,...,...,...
95,96. Reign,2013–2017),Drama,42 min,7.4,"49,668"
96,97. A Series of Unfortunate Events,2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"60,699"
97,98. Criminal Minds,2005–2020),"Crime, Drama, Mystery",42 min,8.1,"195,382"
98,99. Scream: The TV Series,2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,115"
99,100. The Haunting of Hill House,2018),"Drama, Horror, Mystery",572 min,8.6,"237,749"

# Question 10

In [3]:
#Connecting to the driver
driver=webdriver.Chrome(r"chromedriver.exe")

In [4]:
driver.get("https://archive.ics.uci.edu/ml/index.php")

In [5]:
#Selecting View ALl Datasets option
a=driver.find_element(By.XPATH,"/html/body/table[1]/tbody/tr/td[2]/span[2]/a")
a.click()

In [39]:

b=driver.find_element(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody")

In [42]:
b1=b.find_elements(By.XPATH,"//p")

In [45]:
b2=[]
for i in b1:
    b2.append(i.text)

In [49]:
#Scraping Dataset Name
a=[]
a=b2[24::7]

In [51]:
#Scraping Datatype
c=[]
c=b2[25::7]

In [53]:
#Scraping Task
d=[]
d=b2[26::7]

In [55]:
#Scraping Attribute Type
e=[]
e=b2[27::7]

In [57]:
#Scraping Instances
f=[]
f=b2[28::7]

In [59]:
#Scraping Attributes
g=[]
g=b2[29::7]

In [61]:
#Scraping Year
h=[]
h=b2[30::7]

In [75]:
#Creating Dataframe
data=pd.DataFrame({"Name":a[:-1],"Data Type":c[:-1],"Task":d,"Attribute Type":e,"Instances":f,"Attributes":g,"Year":h})
data

,Name,Data Type,Task,Attribute Type,Instances,Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021